.card {
  display: inline-flex;
  padding: 15px 20px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 8px 0px rgba(63, 100, 129, 0.2);
}

.title {
  color: #fff;
  font-size: 2rem;
}

.detected {
  background-color: rgb(239 68 68);
}

.notDetected {
  background-color: rgb(74 222 128);  
}