.select {
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 1.225rem;
  width: 200px;
  border: 1px solid rgb(228 228 231);
}

.title {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.select:focus {
  outline: 3px solid rgb(74 222 128);;
}

.option {
  font-size: 1.225rem;
}

.container {
  padding: 20px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.label {
  cursor: pointer;
  text-indent: -9999px;
  width: 70px;
  height: 35px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.checkbox:checked + .label {
  background: #2ecc71;
}

.checkbox:checked + .label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.label:active:after {
  width: 35px;
}